

/*
font-family: 'DM Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/

:root {
    --black: #000;
    --torch-red: #FE142F;
    --white: #FFF;
    --mine-shaft: #232323;

    --br-radius: 8px;
}


/* General Settings */
* {
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
}

img {
    width: 100%;
}

.br::before {
    content: "\A";
    white-space: pre;
}


/* Functional Settings  */
.w-90 {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    width: 90%;
}


/* Header Settings */
.main-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.main-nav {
    display: none;
}

.nav-ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-column-gap: 8px;
    padding-left: 0;
}

.navigation-item a {
    color: var(--black);
    text-decoration: none;
    padding: 8px 16px;
    transition: .4s;
    border-radius: var(--br-radius);
    border: 1px solid var(--white);
}


.navigation-item a:hover {
    background-color: var(--torch-red);
    color: var(--white);
}


/* Main Settings  */
.main-content {
}


/* Footer Settings  */
.main-footer {
}

.main-img-wrapper {
    margin-bottom: 30px;
}

.sign-up-btn-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.sign-up-btn {
    align-items: center;
    background-color: var(--torch-red);
    border-radius: var(--br-radius);
    border: none;
    color: var(--white);
    display: flex;
    height: 50px;
    justify-content: center;
    width: 130px;
}

.footer-copyright {
  color: var(--torch-red);
  text-align: center;
}


@media screen and (min-width: 768px) {
    /* Header Settings */
    .main-header {
        margin-bottom: 30px;
    }

    .burger-nav-wrapper {
        display: none;
    }
    
    .main-nav {
        display: block;
    }

    /* Main Settings  */
    .main-content {
        display: grid;
        grid-template-columns: 40%  60%;
        margin-bottom: 100px;
        position: relative;
    }

    .main-content-text {
        color: var(--white);
        left: 30px;
        position: absolute;
        top: 0;
        z-index: 1;
    }

    .bg-black {
        background-color: var(--mine-shaft);
    }

    .main-img-wrapper {
        margin-bottom: 0px;
    }

    .main-img {
        height: 100%;
    }

    .main-title {
        font-size: 96px;
    }

    .main-paragraph {
        font-size: 24px;
        width: 400px;
    }

    .sign-up-btn-wrapper {
        bottom: 20px;
        left: 50px;
        position: absolute;
        z-index: 1;
    }

    .main-footer.w-90 {
        width: 95%;
    }

    .footer-copyright {
        text-align: left;
    }
mine-shaft
